/* Navbar */
.navbar-brand {
    font: 32px Viga;
   
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 0%;
        padding-bottom: 0%;
        size: 0px;
        height: 0px;
        top: 50px;
        
    }
    
    .navbar-brand, .nav-link {
        padding-top: 0%;
        color: rgb(255, 255, 255) !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }

}
body{
    margin: 0%;
    font-size: 17px;
    padding: 0%;
    

}
/**********PAGE-1************/
.homepage{
    
    padding: 8rem 5rem;
    height: 32.4rem;
    background-image: url(images/back.png);
    background-position: center;
    background-size: cover;
    text-align: left;
    line-height: 399%;
    
    
}

.homepage h2{
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 5rem;
    color: #ffffffda;
    margin-top: 4%;
}
.homepage h3{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.625rem;
    color: white;
    font-weight: normal;
    line-height: 86%;
    
      
}
.homepage h4{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.625rem;
    font-weight: normal;
    color: wheat;
    line-height: 86%;
}


/* *******************PAGE-2********************** */
.page2{
    margin-top: 0%;
    
}

/* **********FLEX-CONTAINER */
.container{
    display: flex;
    flex-direction: row;
    height: 91vh;    
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* opacity: 0.43; */
}

.box{
    
    width: 12%;
    height: 75%;
    margin: 2px;
    box-shadow: 0 0 50px #1f1f1f69;
    transition: 0.4s ease-in-out;  
    
}
.box:hover{
    transform: scale(1.15) ;
    opacity: 0.97;
}

/* ************EXPLORE BUTTON IN CONTAINER************** */
button{
    border-radius: 2px;
    background:transparent;
    margin: 195% auto 0% 19%;
    padding: 1.4% 9.2%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: white;
    outline: 0px;
    border: 1px white solid;
    cursor: pointer;    
}

/* ***************CONTAINER BOXES***************** */
#box-1{
    background-image: url(images/art1.jpg);
    background-position: center;
    background-size: cover;
}


#box-2{
    background-image: url(images/art2.jpg);
    background-position: center;
    background-size: cover;
}
#box-3{
    background-image: url(images/art3.png);
    background-position: center;
    background-size: cover;
}

#box-4{
    background-image: url(images/art4.png);
    background-position: center;
    background-size: cover;
}
#box-5{
    background-image: url(images/art5.png);
    background-position: center;
    background-size: cover;
}

#box-6{
    background-image: url(images/art6.png);
    background-position: center;
    background-size: cover;
}

/* ************PAGE-3 TITLE TEXT***************** */
.page3 h1{
    
    font-size: 3rem;
    font-weight: bold;
    line-height: 90%;
    text-align: center;
    margin: 3.1% 0% 4.2% 0%;
}
